PORT=3000
VERIFY_TOKEN=playus_verify

WHATSAPP_TOKEN=EAAg3JWVDO48BQ73Js1wf5uaC2E9ncGqJK41sZB2JgF8lbmKTFRmTzxJ5ZBr6WkbIeW0oWOiZAtmkJ598SJaJzNstfIcFZAisdfIR4eZBKGsu4uJ9jwgIjtC3XgGAYgbcdSDEML6G1ZCTXVivCO4STVjGyhsOQZANhMZBzQc3yLLCMmzGAZCe4p8E8aP2zwJ8FZBRZBMmgZDZD
PHONE_NUMBER_ID=1077854702070868

GEMINI_API_KEY=AIzaSyCTevWOuIgDngzSArc4MOEuU25AfrsHCPg
